.about {
  background-color: #0A2850;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.about__circle {
  height: 426px;
  width: 426px;
  background-color: #2f80ed;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
  z-index: 1;
}

.about__title {
  font-family: "Inter";
font-style: normal;
font-weight: 500;
font-size: 44px;
line-height: 52px;
z-index: 2;
position: relative;
color: white;
margin: 100px 80px;
max-width: 251px;
}
.about__content {
  max-width: 660px;
  margin: 119px 80px 113px 0;
}
.about__paragraph {
  font-family: "Noto Serif";
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
margin: 0 0 20px 0;
color: white;

}